
.header {
  position: relative;
}

a:hover {
  text-decoration: none;
}

.navbar-custom {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.808);
  padding: 1em;
}

.navbar-custom a:hover {
  color: white !important;
}

.navbar-custom a {
  color: white !important;
}

.navbar-brand {
  position: relative;
  top: 0;
  padding: 2pt 20pt !important;
  margin: 0 8px 0 -8px !important;
}

.navbar-brand img {
  width: 140px;
}

.image {
  margin-top: -100pt;
  width: 100%;
}

.navbar-nav {
  display: flex;
  width: 100%;
}

.navbar-nav li {
  flex-basis: 100%;
}

.nav-link {
  position: relative;
  top: 36%;
  text-align: center;
  white-space: nowrap;
  padding: 2pt 42pt !important;
  margin: 0 !important;
  font-size: 14px;
  text-transform: uppercase;
}

.item-border {
  height: 80pt;
  margin-top: -12pt;
  margin-bottom: -12pt;
  border-right: 1px solid white;
}

.item-border:last-child {
  border: none;
}

.showonhover {
  display: none;
  position: absolute;
  top: 100%;
  background: rgba(0, 0, 0, 0.808);
  width: 45%;
  height: auto;
  padding: 2em 1em 0 1.5em;
}

.showonhover ul li {
  display: inline-block;
  width: 45%;
  height: 70pt;
  margin-bottom: -2pt;
  padding-right: 2pt;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  border-right: 1px solid white;
}

.showonhover ul li:nth-last-child(2n+1) {
  margin-left: 24pt;
  border: none;
  padding-right: 2pt;
}

.showonhover img {
  max-width: 40%;
  margin-right: 8pt;
}

#story:hover .showonhover {
  display: block;
}

.nav-item:last-child {
  position: relative;
  top: 20pt;
  padding: 2pt !important;
  color: white;
}

.cart-icon {
  position: relative;
  left: 24px;
  float: left;
}

.cart-icon img {
  margin-top: 6pt;
  margin-left: 8pt;
  width: 24px;
  height: 24px;
}

.chooselang {
  position: relative;
  float: right;
  right: 24px;
  font-size: 14px;
  text-transform: uppercase;
}

.chooselang img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.language-word {
  display: block;
  text-align: center;
}

.cool-title {
  color: #32180d;
  font-size: 48px;
  font-weight: 500;
  margin: auto 0;
  text-align: center;
}

.cool-title::before {
  position: absolute;
  content: '';
  background: #32180d;
  width: 300px;
  height: 2px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.first-word {
  font-weight: bolder;
}

/* custom card */

.custom-card {
  width: 100%;
  margin-top: 8px;
  padding: 1em 2em;
}

.imageproduct {
  position: relative;
  height: 280px;
}

.imageproduct img {
  max-width: 70%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title-product {
  margin: 4px auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  max-height: 2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.price-product {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.color {
  padding: 2px;
  margin-top: 8pt;
}

.choose-color {
  display: inline-block;
  border: 1px solid black;
  padding: 6px;
}

/* footer section */

.footer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 2em 2em 4em 4em;
  color: #e5d38e;
}

.footer::after {
  content: '';
  position: absolute;
  background: url('/img/page/footer-background.png');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.footer-column {
  padding: 1em 2em;
}

.footer-content {
  font-size: 14px;
  display: block;
  width: 80%;
  margin: 0 auto;
  clear: both;
}

.footer-content a {
  color: white;
}

.footer-content p {
  margin-top: 2px;
}

#sosmed img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 14px;
}

.contact-content {
  width: 88%;
  color: white;
}

/* menu section */

.selectSection {
  display: flex;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DEDCDC;
}

.customDropdown {
  flex-basis: 100%;
  background: white;
  padding: 8pt 1.5rem;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
}

/* checkout and mycart */
.title-cart {
  border-top: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
  text-align: center;
  font-weight: 600;
  padding: 12pt 10pt;
}

.product-cart {
  position: relative;
  padding: 8pt;
  border-bottom: 1px solid #C2C2C2;
}

.productname {
  color: #262626;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  padding: 8pt 2pt;
  margin: 4pt 0;
}

.imageproduct {
  height: 235px !important;
}

.type {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding: 2pt;
  width: 30%;
}

.type-isi {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 2pt;
  margin: 4pt 0;
  width: 65%;
}

.type-isi img {
  width: 25px;
  height: 25px;
  margin: 0 4pt 0 0;
}

/* quality section */

.quality {
  margin-top: 8pt;
  text-align: center;
}

.btnqty {
  color: #D9D9D9;
  border: 1px solid #D9D9D9;
  padding: 4pt 6pt;
  background: white;
  display: inline-block;
  font-size: 14px;
}

.inputqty {
  display: inline-block;
  width: 35%;
  padding: 2pt 0;
  margin: 0 -5px;
}

.inputqty > input {
  border: 1px solid #D9D9D9;
  text-align: center;
  color: #D9D9D9;
  width: 100%;
  padding: 4px 0;
}

.price {
  margin-top: 10pt;
  padding: 6px;
  text-align: center;
  color: #262626;
  font-weight: lighter;
}

.trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.trash img {
  width: 15px;
  height: 22px;
}

@media  only screen and (max-width: 768px) {

  .item-border {
    border: none;
  }
}
.dropdown text-left {
  position:absolute;
  float:left;
  display:inline-block;
  vertical-align: top;
}

.navbar-collapse {
  flex-grow: none;
  flex-basis: 0;
}

.navbar-brand img {
  margin-left: -30px;
}

.link{
  margin-left:-50px;
}

/* custom carousel icon */
.carousel-control-prev-icon {
background-image: url('https://www.kaero.co.id/img/page/left.png') !important;
}

.carousel-control-next-icon {
background-image: url('https://www.kaero.co.id/img/page/right.png')  !important;
}

.page_01 {
	position:absolute;
	left:0px;
	top:100px;
	width:1263px;
	max-height: 1787px;
}

#top_ {
	position:absolute;
	left:0px;
	top:0px;
	width:1263px;
	height:855px;
}

#room1_ {
	position:absolute;
	left:59px;
	top:926px;
	width:274px;
	height:275px;
}

#room2_ {
	position:absolute;
	left:342px;
	top:926px;
	width:273px;
	height:275px;
}

#room3_ {
	position:absolute;
	left:625px;
	top:926px;
	width:275px;
	height:275px;
}

#room4_ {
	position:absolute;
	left:909px;
	top:926px;
	width:274px;
	height:275px;
}

#room5_ {
	position:absolute;
	left:59px;
	top:1208px;
	width:274px;
	height:275px;
}

#room6_ {
	position:absolute;
	left:342px;
	top:1208px;
	width:273px;
	height:275px;
}

#room7_ {
	position:absolute;
	left:625px;
	top:1208px;
	width:275px;
	height:275px;
}

#room8_ {
	position:absolute;
	left:909px;
	top:1208px;
	width:274px;
	height:275px;
}

#Line_ {
	position:absolute;
	left:0px;
	top:1556px;
	width:104px;
	height:2px;
}

/* Page 2 */
#page_2{
	position: relative;
	bottom:-180px;
}
.address{
	position: relative;;
	left:0px;
	top:1637px;
}

#Table_01 {
	position: absolute;
	left:0px;
	top:0px;
	width:1263px;
	height:1787px;
}

#img-1_ {
	position:absolute;
	left:0px;
	top:0px;
	width:600px;
	height:288px;
}

#img-2_ {
	position:absolute;
	left:600px;
	top:0px;
	width:663px;
	height:288px;
}

#img-3_ {
	position:absolute;
	left:0px;
	top:288px;
	width:665px;
	height:284px;
}

#img-4_ {
	position:absolute;
	left:665px;
	top:288px;
	width:598px;
	height:284px;
}

#img-5_ {
	position:absolute;
	left:0px;
	top:598px;
	width:355px;
	height:244px;
}

#img-6_ {
	position:absolute;
	left:371px;
	top:598px;
	width:351px;
	height:244px;
}

#img-7_ {
	position:absolute;
	left:744px;
	top:598px;
	width:519px;
	height:444px;
}

#index-12_ {
	position:absolute;
	left:49px;
	top:842px;
	width:2px;
	height:73px;
}

#index-15_ {
	position:absolute;
	left:416px;
	top:842px;
	width:1px;
	height:73px;
}

#img-8_ {
	position:absolute;
	left:45px;
	top:1066px;
	width:574px;
	height:100px;
}

#img-9_ {
	position:absolute;
	left:632px;
	top:1066px;
	width:572px;
	height:100px;
}

#img-10_ {
	position:absolute;
	left:45px;
	top:1181px;
	width:574px;
	height:101px;
}

#img-11_ {
	position:absolute;
	left:632px;
	top:1181px;
	width:572px;
	height:101px;
}

#img-12_ {
	position:absolute;
	left:45px;
	top:1299px;
	width:574px;
	height:100px;
}

#img-13_ {
	position:absolute;
	left:632px;
	top:1299px;
	width:572px;
	height:100px;
}

#img-14_ {
	position:absolute;
	left:45px;
	top:1414px;
	width:574px;
	height:101px;
}

#img-15_ {
	position:absolute;
	left:632px;
	top:1414px;
	width:572px;
	height:101px;
}

#img-16_ {
	position:absolute;
	left:0px;
	top:1535px;
	width:223px;
	height:252px;
}

#img-17_ {
	position:absolute;
	left:223px;
	top:1535px;
	width:222px;
	height:252px;
}

#img-18_ {
	position:absolute;
	left:445px;
	top:1535px;
	width:220px;
	height:252px;
}

#img-19_ {
	position:absolute;
	left:665px;
	top:1559px;
	width:598px;
	height:45px;
}